<a href="https://colab.research.google.com/github/Em0823/CAP-4612/blob/main/CAP4612.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [105]:
import pandas as pd
import numpy as np 

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import precision_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error

from pandas import DataFrame

In [106]:
car = pd.read_csv('https://raw.githubusercontent.com/Em0823/CAP-4612/main/car_prediction_data1.csv')
car

,make,model,fuel_type,door_number,car_body,cylinder,engine,hp,city_mpg,hwy_mpg,price
0,alfa,giulia,gas,two,convertible,four,130,111,21,27,13495
1,alfa,stelvio,gas,two,convertible,four,130,111,21,27,16500
2,alfa,quadrifoglio,gas,two,hatchback,six,152,154,19,26,16500
3,audi,100ls,gas,four,sedan,four,109,102,24,30,13950
4,audi,100ls,gas,four,sedan,five,136,115,18,22,17450
5,audi,fox,gas,two,sedan,five,136,110,19,25,15250
6,audi,100ls,gas,four,sedan,five,136,110,19,25,17710
7,audi,5000,gas,four,wagon,five,136,110,19,25,18920
8,audi,4000,gas,four,sedan,five,131,140,17,20,23875
9,audi,5000,diesel,two,hatchback,five,131,160,16,22,17859
10,bmw,320i,gas,two,sedan,four,108,101,23,29,16430
11,bmw,320i,gas,four,sedan,four,108,101,23,29,16925
12,bmw,x1,gas,two,sedan,six,164,121,21,28,20970
13,bmw,x3,gas,four,sedan,six,164,121,21,28,21105
14,bmw,z4,gas,four,sedan,six,164,121,20,25,24565
15,bmw,x4,gas,four,sedan,six,209,182,16,22,30760
16,bmw,x5,gas,two,sedan,six,209,182,16,22,41315
17,bmw,x3,gas,four,sedan,six,209,182,15,20,36880
18,chevrolet,impala,gas,two,hatchback,three,61,48,47,53,5151
19,chevrolet,monte-carlo,gas,two,hatchback,four,90,70,38,43,6295
20,chevrolet,vega,gas,four,sedan,four,90,70,38,43,6575
21,dodge,rampage,gas,two,hatchback,four,90,68,37,41,5572
22,dodge,challenger,gas,two,hatchback,four,90,68,31,38,6377
23,dodge,d200,gas,two,hatchback,four,98,102,24,30,7957
24,dodge,monaco,gas,four,hatchback,four,90,68,31,38,6229
25,dodge,colt,gas,four,sedan,four,90,68,31,38,6692
26,dodge,colt,gas,four,sedan,four,90,68,31,38,7609
27,dodge,coronet,gas,two,sedan,four,98,102,24,30,8558
28,dodge,dart,gas,four,wagon,four,122,88,24,30,8921
29,dodge,coronet,gas,two,hatchback,four,156,145,19,24,12964
30,honda,civic,gas,two,hatchback,four,92,58,49,54,6479
31,honda,civic,gas,two,hatchback,four,92,76,31,38,6855
32,honda,civic,gas,two,hatchback,four,79,60,38,42,5399
33,honda,accord,gas,two,hatchback,four,92,76,30,34,6529

In [107]:
car_features = car[['engine', 'hp', 'city_mpg']]

car_labels = car[['price']]

print(car_features)
print(car_labels)

    engine   hp  city_mpg
0      130  111        21
1      130  111        21
2      152  154        19
3      109  102        24
4      136  115        18
5      136  110        19
6      136  110        19
7      136  110        19
8      131  140        17
9      131  160        16
10     108  101        23
11     108  101        23
12     164  121        21
13     164  121        21
14     164  121        20
15     209  182        16
16     209  182        16
17     209  182        15
18      61   48        47
19      90   70        38
20      90   70        38
21      90   68        37
22      90   68        31
23      98  102        24
24      90   68        31
25      90   68        31
26      90   68        31
27      98  102        24
28     122   88        24
29     156  145        19
30      92   58        49
31      92   76        31
32      79   60        38
33      92   76        30
    price
0   13495
1   16500
2   16500
3   13950
4   17450
5   15250
6   17710
7   18920
8   23875
9   17859
10  16430
11  16925
12  20970
13  21105
14  24565
15  30760
16  41315
17  36880
18   5151
19   6295
20   6575
21   5572
22   6377
23   7957
24   6229
25   6692
26   7609
27   8558
28   8921
29  12964
30   6479
31   6855
32   5399
33   6529

In [108]:

car_features_train, car_features_test, car_label_train, car_label_test = train_test_split(car_features, car_labels, random_state=0, train_size = .7)

In [109]:
knn = KNeighborsClassifier( n_neighbors= 7, p = 2)

print(knn.get_params())
knn.fit(car_features_train, np.ravel(car_label_train))

prediction = knn.predict(car_features_test)

prediction

{'algorithm': 'auto', 'leaf_size': 30, 'metric': 'minkowski', 'metric_params': None, 'n_jobs': None, 'n_neighbors': 7, 'p': 2, 'weights': 'uniform'}

array([ 7957,  5399,  5399, 12964, 12964,  5399,  5399, 12964,  7957,
        5399,  5151])

In [110]:
accuracy = accuracy_score(car_label_test, prediction)
from sklearn.metrics import recall_score
recall = recall_score(car_label_test, prediction, average='macro', zero_division = 1)
metrics = precision_recall_fscore_support(car_label_test, prediction, average='macro', zero_division = 1)
metrics

(0.7333333333333333, 0.26666666666666666, 0.0, None)

In [111]:
MSE  = mean_squared_error(car_label_test, prediction)
RMSE = mean_squared_error(car_label_test, prediction, squared=False)
print("MSE: %5.3f.   RMSE: %5.3f" %(MSE, RMSE))

MSE: 141233968.273.   RMSE: 11884.190

In [97]:
scaler = MinMaxScaler()

car_normalized = car.copy()
car_normalized[['engine', 'hp', 'city_mpg', 'price']] =  scaler.fit_transform(car_normalized[['engine', 'hp', 'city_mpg', 'price']])

car_features_normalized = car_normalized[['engine', 'hp', 'city_mpg']]
car_labels_normalized = car_normalized[['price']]
car_features_train, car_features_test, car_label_train, car_label_test = train_test_split(car_features_normalized, car_labels_normalized, random_state=0, train_size = .8)

print(car_features_normalized)
print(car_labels_normalized)

      engine        hp  city_mpg
0   0.466216  0.470149  0.176471
1   0.466216  0.470149  0.176471
2   0.614865  0.791045  0.117647
3   0.324324  0.402985  0.264706
4   0.506757  0.500000  0.088235
5   0.506757  0.462687  0.117647
6   0.506757  0.462687  0.117647
7   0.506757  0.462687  0.117647
8   0.472973  0.686567  0.058824
9   0.472973  0.835821  0.029412
10  0.317568  0.395522  0.235294
11  0.317568  0.395522  0.235294
12  0.695946  0.544776  0.176471
13  0.695946  0.544776  0.176471
14  0.695946  0.544776  0.147059
15  1.000000  1.000000  0.029412
16  1.000000  1.000000  0.029412
17  1.000000  1.000000  0.000000
18  0.000000  0.000000  0.941176
19  0.195946  0.164179  0.676471
20  0.195946  0.164179  0.676471
21  0.195946  0.149254  0.647059
22  0.195946  0.149254  0.470588
23  0.250000  0.402985  0.264706
24  0.195946  0.149254  0.470588
25  0.195946  0.149254  0.470588
26  0.195946  0.149254  0.470588
27  0.250000  0.402985  0.264706
28  0.412162  0.298507  0.264706
29  0.641892  0.723881  0.117647
30  0.209459  0.074627  1.000000
31  0.209459  0.208955  0.470588
32  0.121622  0.089552  0.676471
33  0.209459  0.208955  0.441176
       price
0   0.230727
1   0.313820
2   0.313820
3   0.243308
4   0.340090
5   0.279256
6   0.347279
7   0.380738
8   0.517752
9   0.351399
10  0.311885
11  0.325572
12  0.437424
13  0.441157
14  0.536832
15  0.708135
16  1.000000
17  0.877364
18  0.000000
19  0.031634
20  0.039376
21  0.011641
22  0.033901
23  0.077591
24  0.029809
25  0.042611
26  0.067968
27  0.094210
28  0.104247
29  0.216044
30  0.036722
31  0.047119
32  0.006858
33  0.038104

In [112]:
knnNormalized = KNeighborsClassifier(n_neighbors=7, p = 2)
knnNormalized.fit(car_features_train, np.ravel(car_label_train))
prediction1 = knnNormalized.predict(car_features_test)

accuracy1 = accuracy_score(car_label_test, prediction1)
metrics1 = precision_recall_fscore_support(car_label_test, prediction1, average='macro', zero_division = 1)
metrics1

(0.7333333333333333, 0.26666666666666666, 0.0, None)

In [113]:
MSE  = mean_squared_error(car_label_test, prediction1)
RMSE = mean_squared_error(car_label_test, prediction1, squared=False)
print("MSE: %5.3f.   RMSE: %5.3f" %(MSE, RMSE))

MSE: 141233968.273.   RMSE: 11884.190

In [114]:
sample_data = DataFrame({'engine': [130,131,152,109,164], 'hp': [111,140,154,102,121], 'city_mpg': [21,17,19,24,20]}, index=['car1', 'car2', 'car3', 'car4', 'car5'])

sample_data_normalized = sample_data.copy()
scaler = MinMaxScaler()
sample_data_normalized[['engine', 'hp', 'city_mpg']] =  scaler.fit_transform(sample_data_normalized[['engine', 'hp', 'city_mpg']])

sample_data.loc['car1']

sample_data_normalized

        engine        hp  city_mpg
car1  0.381818  0.173077  0.571429
car2  0.400000  0.730769  0.000000
car3  0.781818  1.000000  0.285714
car4  0.000000  0.000000  1.000000
car5  1.000000  0.365385  0.428571

In [20]:
sample_data

      engine   hp  city_mpg
car1     130  111        21
car2     131  140        17
car3     152  154        19
car4     109  102        24
car5     164  121        20